p {
    text-align: center;
    font-weight: bold;
}

/* button {
    color: #236192;
    background-color: black;
} */

/* h2 {
    background-color: rgb(89, 151, 0);
} */

#cssbutton {
    background-color: teal;
}

#cssbutton:hover {
    background-color: orange;
}

.google a {
    color: teal;
}

input[type="password"] {
    color: red;
}

h2::first-letter {
    color: red;
    font-size: larger;
    font-weight: 900;
}